/* lato-latin-400-normal */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/lato@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/lato@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* This will make it so we can call shadow where ever without having to type it out REUSABLE!! */
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato';
}

.container {
  margin: 30px;
  width: 400px;
}

h1 {
  letter-spacing: 2px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

}

.inc-exp-container>div {
  flex: 1;
  text-align: center;
}

.inc-exp-container>div:first-of-type {
  border-right: 1px solid grey;
}

.money {
  font-size: 25px;
  letter-spacing: 1px;
  margin: 5px 0;

}

.moneyPlus {
  color: green;
}

.moneyMinus {
  color: red;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid wheat;
  border-radius: 7px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 75%;
}

.btn {
  cursor: pointer;
  background-color: plum;
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 5px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: white;
  box-shadow: var(--box-shadow);
  color: darkblue;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid green;
}

.list li.minus {
  border-right: 5px solid red;
}

.delete-button {
  background-color: lightsalmon;
  border: 0;
  color: antiquewhite;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: 0.3s ease-in-out;

}

.list li:hover .delete-button {
  opacity: 1;
}